@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* font-family: "Roboto", sans-serif;
font-family: "Poppins", sans-serif; */

* {
  margin: auto;
  padding: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  color: white;
  background-color: black;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

span {
  /* text-decoration: underline; */
  color: rgb(255, 173, 22);
}

/* -------------------- Navigation Bar -------------------------- */

.navbar {
  width: 100%;
  overflow: auto;
  padding: 10px 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);

  border-bottom: 1px solid rgba(41, 39, 39, 0.788);
}

.navbar a {
  float: left;
  padding: 5px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar a:hover {
  color: orange;
  text-decoration: overline;
}

/* --------------------------Profile---------------------------------- */

.container {
  width: 90%;
  margin: 50px auto;
  /* line-height: 25px; */
}
.container1 {
  margin-top: -10px;
}

img #title {
}

h1 {
  text-align: center;
  padding: 25px;
}

h2 {
  color: orange;
}

hr {
  width: 90%;
  margin: auto;
}
img {
  display: block;
  width: 60%;
  margin-bottom: 30px;
  border-radius: 30px;
  outline: 2px solid orange;
}

#profilepic {
  width: 250px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgb(20, 20, 20);
}

.infobox {
  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 20px;
  padding: 50px;
}

ul {
  list-style-type: none;
}

ul li img {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  outline: 2px solid orange;
}

ul li {
  margin: auto;
  margin-left: 20px;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

.gapfiller {
  width: 80%;
  height: 40px;
}

#image1 #image2 {
  width: 100px;
}
